.multiCard{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Top{
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0; 
    z-index: 1;
    border-bottom: 1px solid black;
}
hr{
    background-color: white;
}