.singleCard{
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 1;
}

.multiCard{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

hr{
    background-color: white;
}
.Comparador{
    background-color: transparent;
    border: 0px;
    overflow: auto;
}